$grey: #B2B2B2;
$light-grey: #F5F5F5;
$gold: #EAB77B;
$creamy: #EACFAF;
$creamy-glow: #FFFAF0;
$dark: #464646;
$white: #FFFFFF;

.c-gold {
    color: $gold;
}

.bg-light-grey {
    background-color: $light-grey;
}
