.glow {
    left: 20%;
    position: absolute;

    &.top-100 {
        top: 100%;
    }

    &.top-50 {
        top: 50%;
    }
}

.offer-page-image > img {
    width: 100%;

    @include responsive('small') {
        height: 250px;
        object-fit: cover;
    }
}

.offer-page-container {
    padding: 5% 0;

    @include responsive('small') {
        padding: 10% 0;
    }
}

.offer-page-text {
    & > p:last-of-type {
        margin-bottom: 50px;
    }
}

.offer-page-link {
    display: inline-block;
    border: 1px solid $dark;
    text-align: start;
    padding: 15px;
    padding-inline: 60px;
}

.offer-page-container-list {
    padding: 0 10vw;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    justify-items: center;

    @include responsive('tablet') {
        padding: 0;
    }
}

.offer-page-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    border-right: 1px solid $grey;
    padding: 5vw 0;
    width: 80%;

    &.center {
        justify-content: center;
    }

    @include responsive('tablet') {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $grey;
        padding: 5vw 3vw;

        &.center {
            justify-content: initial;
        }
    }

    @include responsive('small') {
        padding: 10% 5vw;
        display: block;
    }

    &:first-child {
        width: 100%;
    }

    &:last-child {
        width: 100%;
        border-right: none;
        border-bottom: none;
    }

    h3 {
        color: $gold;
        transform: rotate(-180deg);
        writing-mode: vertical-rl;
        margin-top: 5px;
        font-weight: 600;

        @include responsive('small') {
            transform: rotate(0);
            writing-mode: initial;
            margin: 0;
            padding-bottom: 2vw;
        }
    }
}

.no-border-bottom {
    border-bottom: none;
}

.pos-rel {
    z-index: -1;
}