.glow {
    left: 20%;
    position: absolute;

    &.top-100 {
        top: 100%;
    }

    &.top-50 {
        top: 50%;
    }
}

.offer {
    background-color: $white;
}

.offerHeader {
    margin: 0 5vw;
    border-left: 0.5px solid $grey;
    border-right: 0.5px solid $grey;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 48px;
    padding: 64px 0;
    
    h1 {
        font-size: clamp(48px, 6.25vw, 128px);
        line-height: 1.1;
    }

    @include responsive('tablet') {
        min-height: 30vh;
        padding: 64px 0;
        gap: 32px;
    }
}

.offer-content {
    border-top: 1px solid $grey;
    background-color: $white;
}

.offer-gradient-bg {
    background: linear-gradient(45deg, rgba(255,250,240,1) 0%, rgba(245,245,245,1) 100%);
}

.offer-page-image > img {
    width: 100%;

    @include responsive('small') {
        height: 250px;
        object-fit: cover;
    }
}

.offer-page-container {
    padding: 5% 0;

    @include responsive('small') {
        padding: 10% 0;
    }
}

.offer-page-header {
    line-height: 1.1;
}

.offer-icon-with-text {
    display: flex;
    gap: 16px;
    align-items: center;

    h3 {
        color: $gold;
        font-weight: 900;
        font-size: clamp(16px, 1vw, 20px);
        letter-spacing: 1px;
        line-height: 1.2;
    }
}

.offer-page-text {
    grid-column: span 2;

    p {
        margin-bottom: 16px;
    }
}

.offer-page-link-container {
    text-align: end;

    @include responsive('tablet') {
        text-align: start;
    }
}

.offer-page-link {
    display: inline-block;
    border: 1px solid $dark;
    text-align: start;
    padding: 15px;
    padding-inline: 60px;
}

.offer-page-container-list {
    padding-top: 5vw;
    padding-bottom: 7vw;
}

.offer-page-container-list-icon {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 24px;

    img {
        width: clamp(32px, 3vw, 64px);
    }
}

.offer-page-list {
    padding-left: 16px;
    p {
        margin-bottom: 16px;
    }
}

.no-border-bottom {
    border-bottom: none;
}

.pos-rel {
    z-index: -1;
}

.rotate45 {
    transform: rotate(45deg);
}