.offer {
    width: 100%;
    background-color: $light-grey;
    position: relative;
    z-index: 1;
}

.glow {
    top: 40%;
    left: 40%;
}

.offer-container {
    padding: 100px 0;
    display: flex;
    align-items: center;

    @include responsive('laptop') {
        flex-direction: column;
        gap: 100px;
    }

    @include responsive('tablet') {
        width: min(90vw, 1920px);
    }
}

.offer-left,
.offer-right {
    flex: 1;
}

.offer-left {
    display: flex;
    flex-direction: column;
    gap: 100px;

    @include responsive('large') {
        flex: .7;
    }

    @include responsive('tablet') {
        gap: 50px;
    }

    .offer-text {
        width: 50%;

        @include responsive('large') {
            width: 80%;
        }

        @include responsive('laptop') {
            width: 100%;
        }
    }
}

.offer-offers {
    display: flex;
    flex-wrap: wrap;

    .offer-proposal {
        flex: 50%;

        @include responsive('laptop') {
            display: flex;
            flex-direction: column;
        }

        @include responsive('small') {
            flex: 100%;
        }
    }
}

.offer-info {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background: white;
    height: 350px;
    margin-inline: 20px;
    position: relative;
    z-index: 1;
    top: -50px;
    text-align: center;
    justify-content: space-evenly;
}

.office-container {
    img {
        width: 100%;

        @include responsive('small') {
            height: 250px;
            object-fit: cover;
        }
    }
}