.people-container {
    display: flex;
    padding-top: 150px;
    position: relative;

    @include responsive('small') {
        justify-content: center;
        padding-top: 75px;
    }
}

.people-image {
    display: flex;
    align-items: center;
    position: relative;
    @include transition(transform);

    & > img {
        transform: scale(1);
        @include transition(transform); 
        position: relative;
        z-index: -1;

        @include responsive('small') {
            display: none; 
        }
    }

    & > .people-image-info {
        position: absolute;
        left: 0;
        top: 35%;
        z-index: 1;
        background-color: $white;
        padding: 40px;
        display: none; 

        @include responsive('tablet') {
            left: 50%;
            top: 50%;
            transform: translateX(-50%);
            width: 250px;
            padding: 20px;
        }

        h5 {
            margin-bottom: 20px;
        }
    }

    &.active > img {
        transform: scale(1.2);
        @include transition(transform); 
        position: relative;
        z-index: 1;

        @include responsive('small') {
            display: block; 
            transform: scale(1);
            width: 90%;
            margin: auto;
        }
    }

    &.active > .people-image-info {
        display: block; 
        z-index: 2;
    }
}

.people-slider--left,
.people-slider--right {
    position: absolute;
    top: 50%;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.people-slider--left {
    left: -50px;

    @include responsive('tablet') {
        left: -25px;
    }

    @include responsive('small') {
        left: 0;
    }
}

.people-slider--right {
    right: -50px;

    @include responsive('tablet') {
        right: -25px;
    }

    @include responsive('small') {
        right: 0;
    }
}